$lora: "Lora", serif;
$poorstory: "Poor Story", system-ui;
$jetbrains: "Jetbrains Mono", monospace;

@font-face {
    font-family: $lora ;
    src: url("./../assets/fonts/Lora-Regular.ttf");
}

@font-face {
    font-family: $poorstory;
    src: url("./../assets/fonts/PoorStory-Regular.ttf");
}

@font-face {
    font-family: $jetbrains;
    src: url("./../assets/fonts/JetbrainsMono-Regular.ttf");
}

$textLight: #776B5D;
$foregroundLight: #EBE3D5;
$elementLight: #F2F2F2;
$iconLight: #B0A695;
$backgroundLight: #F3EEEA;
$spanLight: #B0A695;

$textDark: #F0F2F584;
$foregroundDark: #292929;
$elementDark: #262626;
$iconDark: #FFC600;
$backgroundDark: #262626;
$spanDark: #FFC600;