.Layout {
    padding: 2rem;
    margin: auto;

    @media(min-width:768px) {
        max-width: calc(100% - 20rem);
    }

    .childLayout {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media(min-width: 768px) {
            padding: 0 2rem;
        }
    }
}