@import "./../../styles/variables.scss";

.layoutLeft {
    text-align: left;
    width: 50%;
    padding: 0 1rem;

    @media(max-width: 575px) {
        width: 100%;
    }
}

.layoutRight {
    @extend .layoutLeft;
}

.codeBlock {
    font-family: $jetbrains;
}

.descriptionWrapper {
    padding: 2rem 0;
    display: flex;
    place-items: center;
}