@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/variables.scss";

$lora: "Lora", serif;
$poorstory: "Poor Story", sans-serif;
$jetbrains: "Jetbrains Mono", monospace;

@font-face {
    font-family: "Lora", serif ;
    src: url("./../assets/fonts/Lora-Regular.ttf");
}

@font-face {
    font-family: "Poor Story", sans-serif;
    src: url("./../assets/fonts/PoorStory-Regular.ttf");
}

@font-face {
    font-family: "JetBrains Mono", monospace;
    src: url("./../assets/fonts/JetBrainsMono-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;

    font-family: $jetbrains;
    font-weight: 300;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-color: #{$textLight};
    --background-color: #{$backgroundLight};
    --icon-color: #{$iconLight};
    --element-color: #{$elementLight};
    --foreground-color: #{$foregroundLight};
    --span-color: #{$spanLight};
}

[data-theme="dark"] {
    --text-color: #{$textDark};
    --background-color: #{$backgroundDark};
    --icon-color: #{$iconDark};
    --element-color: #{$elementDark};
    --foreground-color: #{$foregroundDark};
    --span-color: #{$spanDark};
}

@layer components {
    ::-webkit-scrollbar {
        @apply w-[0.4rem] h-0;
    }

    ::-webkit-scrollbar-track {
        @apply bg-backgroundLight dark:bg-backgroundDark;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-iconLight dark:bg-spanDark;
    }

    ::selection {
        @apply text-elementLight bg-iconLight dark:text-gray-700 dark:bg-spanDark;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
}

code {
    font-family: $jetbrains;
}